:root {
  --color-one: #0d0d0b;
  --color-two: #1d734b;
  --color-three: #014023;
  --color-four: #403e33;
  --color-five: #736258;
  --color-six: #caad9c;
  --color-seven: #33ca83;
}
* {
  box-sizing: border-box;
}
.content {
  box-sizing: border-box;
  margin: 40px auto;
  display: flex;
  width: 20vmax;
  background: var(--color-two);
  border-radius: 4vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.group{
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
}
.group .text_form {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}
.entry {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  color: #fff;
  font-size: 2vh;
  background-color: transparent;
}

.group .entry:focus ~ .text_form {
  font-size: 15px;
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

h1,
p,
span {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h1 {
  margin: 40px 20px;
  color: white;
  font-size: 3vh;
  font-weight: bolder;
}

label {
  padding: 10px 0 10px 20px;
}

.group {
  margin-top: 10px;
  position: relative;
}

.group input {
  color: #ffffff;
  display: block;
  padding: 10px 0px 10px 20px;
  width: 20vmax;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
}
label {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  left: 5px;
  top: 10px;
}
textarea {
  padding: 10px 0 10px 20px;
  width: 20vmax;
  height: 200px;
  resize: none;
  background: transparent;
  border: none;
}
input:focus {
  outline: none;
}
button {
  cursor: pointer;
}
.send {
  display: inline;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.button_close {
  border: none;
  background: transparent;
}
.button_close:hover {
  transform: rotate(90deg);
}
.button,
.button_close {
  padding: 20px;
  float: right;
}
span {
  padding: 10px;
  color: #fff;
}
svg {
  color: var(--color-two);
  width: 15px;
  height: auto;
}